/* widget-popup-1-1 */

body {
	color: #000000;
}

.widget-popup-1-1 {
	background-color: #ffffff;
	padding: 20px 34px 18px;
	position: relative;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	.content {
		overflow: hidden;
	}

	.sections {
		max-width: 500px;
		margin: 0 auto;
	}

	.close-icon {
		position: absolute;
		top: -18px;
		right: -21px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		-webkit-box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.2);
		box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.2);
	}

	h4 {
		font-family: 'Roboto-Bold';
		font-size: 27px;
		text-align: center;
		letter-spacing: -1.1px;
		line-height: 32px;
		margin-bottom: 31px;
	}

	section {
		background-color: #333333;
		padding: 20px 2% 0 0;
		margin-bottom: 20px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;

		.left {
			width: 45%;
			text-align: center;
		}

		.right {
			width: 53%;
		}

		img {
			max-width: 100%;
		}

		.voice-img {
			margin: -31px 0 13px 0;
		}

		.video-img {
			margin: -20px 0 2px 0;
		}

		p {
			font-family: 'Roboto-Regular';
			margin-left: 10px;
		}

		.small-text {
			color: #8f8f8f;
			margin-bottom: 0px;
		}

		.big-text {
			color: #ffffff;
			font-size: 25px;
			line-height: 25px;
		}

		.btn {
			font-family: 'Roboto-Bold';
			font-size: 20px;
			letter-spacing: -1px;
			background-color: #b167ff;
			color: #ffffff;
			padding: 10px 28px;
			border-width: 0;
			margin-bottom: 10px;
			margin-left: 10px;
			-webkit-box-shadow: inset 0px 2px 1px -1px rgba(255,255,255,0.6);
			-moz-box-shadow: inset 0px 2px 1px -1px rgba(255,255,255,0.6);
			box-shadow: inset 0px 2px 1px -1px rgba(255,255,255,0.6);
		}
	}

	.footer-text {
		font-family: 'Roboto-Regular';
		font-size: 15px;
		display: initial;
		margin-top: 2px;
		margin-bottom: 0;
		display: inline-block;

		a {
			color: #b167ff;
			text-decoration: underline;
			font-size: 15px;
		}
	}
}


/* widget-popup-1-2 */
.widget-popup-1-2 {
	background-color: #ffffff;
	padding: 24px;
	position: relative;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	.close-icon {
		position: absolute;
		top: -18px;
		right: -21px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		-webkit-box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.2);
		box-shadow: 0px 4px 11px 0px rgba(0,0,0,0.2);
	}

	.content {
		overflow: hidden;

		.top {
			text-align: center;
			color: #ffffff;
			margin: 0 0 34px 0;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;

			img {
				margin-top: -6px;
				margin-left: 14px;
				float: left;
			}

			h4 {
				font-family: 'Roboto-Bold';
				font-size: 26px;
				letter-spacing: -0.7px;
				background-color: #333333;
				padding: 10px 0;
			}
		}

		p {
			font-family: 'Roboto-Regular';
		}

		.title {
			font-size: 25px;
			font-size: 25px;
			line-height: 26px;
		}

		.text {
			font-size: 16px;
			margin-top: 43px;
			margin-bottom: 22px;
		}

		.btn {
			font-family: 'Roboto-Bold';
			font-size: 23px;
			letter-spacing: -1px;
			color: #ffffff;
			border-width: 0;
			margin-bottom: 10px;
			padding: 12px 48px;
			background: url('/assets/img/widget-popup1-2-button-icon.png') no-repeat #b167ff 19px 14px;
			-webkit-box-shadow: inset 0px 2px 1px -1px rgba(255,255,255,0.6);
			-moz-box-shadow: inset 0px 2px 1px -1px rgba(255,255,255,0.6);
			box-shadow: inset 0px 2px 1px -1px rgba(255,255,255,0.6);
		}

		.steps {
			list-style: none;
			display: inline-block;
			padding-left: 0;
			margin-top: 12px;

			li {
				float: left;
			}

			img {
				margin-right: 10px;
				margin-left: 6px;
			}
		}

		.footer {
			margin-top: 74px;
		}

		.footer-text {
			font-family: 'Roboto-Regular';
			font-size: 15px;
			display: initial;
			margin-top: 2px;
			margin-bottom: 0;
			display: inline-block;

			a {
				color: #b167ff;
				text-decoration: underline;
				font-size: 15px;
			}
		}
	}
}

///////////////////////////////////* Media Queryies */////////////////////////////////////

@media (max-width: 500px) {
	/* widget-popup-1-1 */
	.widget-popup-1-1 {
  		padding: 20px 20px 18px;

		h4 {
			font-size: 24px;
			line-height: 26px;
			margin-bottom: 20px;
		}

		section {
			.big-text {
				font-size: 20px;
			}

			.btn {
				font-size: 16px;
				padding: 5% 10%;
			}
		}
	}
}

@media (max-width: 400px) {
	/* widget-popup-1-1 */
	.widget-popup-1-1 {
  		padding: 10px 10px 18px;

		h4 {
			font-size: 18px;
			line-height: 20px;
		}

		section {
			padding-right: 0;

			.big-text {
				font-size: 20px;
			}

			.btn {
				font-size: 16px;
				padding: 5% 10%;
			}

			.left , .right {
				width: 100%;
			}

			.right {
				text-align: center;

				.btn {
					width: 80%;
					margin-right: 10px;
				}
			}
		}
	}
}