article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
hr,
main,
nav,
section,
summary {
  display: block;
}

dl,
h3,
hr,
menu,
ol,
p,
pre,
ul {
  margin: 1em 0;
}

body,
h4 {
  font-size: 1em;
}

fieldset,
hr,
img,
legend {
  border: 0;
}

body,
fieldset,
figure,
form {
  margin: 0;
}

fieldset,
hr,
legend {
  padding: 0;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  background: #fff;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

button,
html,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}

body {
  line-height: 1.4;
}

a:focus {
  outline: dotted thin;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
  color: #999;
  text-transform: uppercase;
  line-height: 1em;
}

h2 {
  font-size: 1.5em;
  margin: .83em 0;
  line-height: 1.3em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  margin: 1.33em 0;
}

h5 {
  font-size: .83em;
  margin: 1.67em 0;
}

h6 {
  font-size: .67em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
  border-top: 1px solid #ccc;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace,serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:after,
q:before {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

nav ol,
nav ul {
  list-style: none;
}

img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

legend {
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

kbd {
  background-color: #f5f5f5;
  border: 1px solid #dedede;
  padding: 0 3px 2px;
}

footer {
  margin-top: 3em;
  text-align: right;
}

@media print {
  blockquote,
  img,
  pre,
  tr {
    page-break-inside: avoid;
  }

  * {
    background: 0 0!important;
    color: #000!important;
    box-shadow: none!important;
    text-shadow: none!important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  blockquote,
  pre {
    border: 1px solid #999;
  }

  thead {
    display: table-header-group;
  }

  img {
    max-width: 100%!important;
  }

@page {
    margin: .5cm;
}

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
.appearance_page .appearance_small_images_cont>div,
.live_preview h5 {
  text-align: center;
}

.clear {
  clear: both;
}

.main_menu {
  border-radius: 0;
}

.main_menu #main_navbar .profile_pic {
  border: 1px solid #575757;
  width: 41px;
  height: 41px;
  margin-top: 4px;
}

.main_menu #main_navbar .new_msgs {
  font-size: 10px;
  margin-right: 10px;
  padding-top: 4px;
}

.live_preview {
  background-color: #f7f7f7;
  border: 6px solid #dfdfdf;
  padding: 6px 10px;
  min-height: 600px;
}

.live_preview iframe {
  background-color: #fff;
}

.live_preview .tab-preview {
  margin-bottom: 50px;
  overflow: hidden;
}

.live_preview h5 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.live_preview h5:last-child {
  margin-top: 30px;
}

.live_preview img {
  max-width: 100%;
}

.live_preview .tabs-iframe,
.live_preview .widgets-iframe {
  width: 133.33%;
  outline: #ccc solid 1px;
  border: none;
  -ms-zoom: .75;
  -ms-transform: scale(.25);
  -moz-transform: scale(.25);
  -o-transform: scale(.25);
  -webkit-transform: scale(.25);
  transform: scale(.75,.75);
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.frontend-widget-preview {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.footer-widget,
.side-widget {
  position: fixed;
  bottom: 0;
  right: 0;
}

.side-widget>div {
  position: relative;
  bottom: 50px;
  right: 0;
}

.no-resize {
  resize: none;
}

.embed-code-page textarea,
.fields-integration .raw-html .section-content textarea {
  resize: vertical;
}

#ifrm {
  visibility: hidden;
}

.auth {
  padding: 0;
  border: 1px solid #c8c8c8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 56px auto;
}

.auth .auth-container {
  overflow: hidden;
  padding: 15px;
  border-bottom: 6px solid #e8e8e8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.auth .auth-container .form-group {
  font-family: OpenSans-Regular!important;
  font-size: 11px!important;
}

.auth .auth-container label {
  font-size: 12px;
  color: #353535;
  font-family: OpenSans-Bold;
  line-height: 15px;
  margin: 0 0 10px;
}

.auth .auth-container .form-control {
  font: 100% Arial,Helvetica,sans-serif;
  color: #9a9a9a;
  border: 1px solid #adadad;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 40px;
  font-size: 12px;
  padding: 6px 9px;
  -webkit-box-shadow: inset 1px 1px 1px 0 rgba(0,0,0,.2);
  -moz-box-shadow: inset 1px 1px 1px 0 rgba(0,0,0,.2);
  box-shadow: inset 1px 1px 1px 0 rgba(0,0,0,.2);
}

.auth .auth-container .forgot,
.auth .auth-container .remember {
  font-size: 12px;
}

.auth .auth-container .remember {
  font-family: OpenSans-Bold;
}

.auth .auth-container .remember input[type=checkbox] {
  vertical-align: sub;
  color: #353535;
  margin: 3px 3px 0 4px;
}

.auth .auth-container .forgot {
  color: #33abe2;
  font-family: OpenSans-Regular;
}

.auth .auth-container .auth-btn {
  background: #7eb044;
  width: 100%;
  display: block;
  height: 41px;
  border: 0;
  cursor: pointer;
  color: #f5f5f5;
  border-bottom: 5px solid #6b9339;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 8px;
  font: 100% Arial,Helvetica,sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.appearance_page .choose-widget-design .view-steps-img input[type=radio],
.appearance_page .position-type-label input[type=radio] {
  display: none;
}

.campaigns_page .campaigns {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 35px;
  background-color: #F5F5F5;
}

.campaigns_page .campaigns .campaign-title>h4 {
  float: left;
}

.campaigns_page .campaigns .campaign-title>form {
  float: left;
  margin-left: 10px;
  margin-top: 9px;
  font-size: 11px;
}

.campaigns_page .campaigns .campaign-title>form a.btn {
  padding: 2px 5px 2px 4px;
  font-size: 11px;
}

.campaigns_page .campaigns .widgets {
  margin-top: 10px;
  padding: 20px;
  position: relative;
}

.campaigns_page .campaigns .widgets .widget-is-complete-icon {
  font-size: 1.5em;
  position: absolute;
  right: 10px;
  left: initial;
  top: 10px;
  color: orange;
}

.campaigns_page .campaigns .widgets .voice_small_images {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 4px;
  margin-bottom: 4px;
}

.campaigns_page .campaigns .widgets .voice_small_images img {
  width: 100%;
}

.campaigns_page .campaigns .widgets .voice_small_images_cont {
  overflow: hidden;
}

.campaigns_page .campaigns .widgets .feedback_table td {
  text-align: center;
  padding-right: 10px;
}

.campaigns_page .campaigns .widgets img {
  max-width: 100%;
  width: 50%;
}

.campaigns_page .campaigns .widgets .default_image {
  height: 100px;
  width: 100%;
}

.campaigns_page .campaigns .widgets .actions_cont a {
  margin-bottom: 4px;
  padding: 6px 10px;
  font-size: 12px;
}

.appearance_page .position-type-label {
  width: 100%;
}

.appearance_page .appearance_small_images {
  width: 100%;
  height: 120px;
  border: 4px solid #ccc;
  float: left;
  margin-bottom: 5px;
  cursor: pointer;
  position: relative;
}

.appearance_page .appearance_small_images_cont,
.appearance_page .choose-color-scheme {
  margin-bottom: 20px;
}

.appearance_page .appearance_small_images img {
  max-width: 100%;
  max-height: 100%;
}

.appearance_page .appearance_small_images_side img {
  height: 70px;
  width: auto;
  position: absolute;
  bottom: 7px;
  right: 0;
}

.appearance_page .appearance_small_images_footer img {
  width: 70px;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 7px;
}

.appearance_page .choose-widget-design input[type=checkbox] {
  vertical-align: text-top;
  margin-left: 5px;
}

.appearance_page .choose-widget-design .view-steps-img input[type=radio]:checked+div {
  border: 4px solid #5cb85c;
}

.appearance_page .choose-widget-design .view-steps-img-container {
  border: 4px solid #ccc;
}

.appearance_page .choose-widget-design .view-steps-img-container img {
  max-width: 100%;
}

.appearance_page .choose-widget-design .btn {
  width: 100%;
}

.appearance_page .color-scheme-cont input[type=color] {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  padding: 0 1px;
  vertical-align: top;
}

.appearance_page .color-scheme-cont input[type=text] {
  width: 110px;
  display: inline-block;
  height: 25px;
  margin-right: 5px;
}

.appearance_page .color-scheme-cont>div {
  margin-bottom: 7px;
}

.appearance_page .choose-design {
  margin-bottom: 20px;
}

.appearance_page .content input[type=text] {
  width: 70%;
}

.appearance_page .content .content-buttons button {
  width: 100%;
  margin-bottom: 5px;
}

.appearance_page .branding,
.choose-color-scheme {
  margin-bottom: 20px;
}

.appearance_page .branding input[type=checkbox] {
  margin-left: 5px;
  vertical-align: text-top;
}

.appearance_page .choosed-tab-img {
  width: 70%;
  border: 4px solid #ccc;
  margin-top: 10px;
  text-align: right;
  overflow: hidden;
}

.appearance_page .choosed-tab-img img {
  max-width: 100%;
  max-height: 150px;
}

.color-scheme-cont input[type=color] {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  padding: 0 1px;
  vertical-align: top;
}

.color-scheme-cont input[type=text] {
  width: 110px;
  display: inline-block;
  height: 25px;
  margin-right: 5px;
}

.color-scheme-cont>div {
  margin-bottom: 7px;
}

.popup-iframe {
  border: 1px solid #ccc!important;
  height: 500px;
  visibility: visible;
  width: 200%;
  -ms-zoom: .75;
  -ms-transform: scale(.25);
  -moz-transform: scale(.25);
  -o-transform: scale(.25);
  -webkit-transform: scale(.25);
  transform: scale(.5,.5);
  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

#modal-designs input[type=radio] {
  float: left;
}

#modal-designs label {
  margin-left: 10px;
  max-width: 88%;
  float: left;
  overflow: hidden;
  border: 1px solid #DBDBDB;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

#modal-designs img,
.view-steps-1 .step-view img {
  max-width: 100%;
}

#modal-designs .tab-content {
  margin-top: 30px;
}

#modal-designs .modal-footer {
  margin: 0 15px;
  padding: 15px 0;
}

#modal-designs #side-lock img {
  height: 200px;
  width: auto;
}

.view-steps-1 .step-view {
  margin: 5px 0;
  height: 270px;
}

.embed-code-page .live-chat {
  margin-bottom: 30px;
}

.embed-code-page .check-website,
.inbox .top {
  margin-bottom: 20px;
}

.inbox .top h4 {
  margin-top: 8px;
  margin-bottom: 7px;
}

.inbox .top h4 span {
  vertical-align: bottom;
  margin-left: 7px;
}

.inbox section {
  padding: 15px 5px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
}

.inbox section .section-left div {
  overflow: hidden;
}

.inbox section .section-right h4 {
  line-height: 36px;
  border-bottom: 1px solid #ddd;
}

.inbox section .section-right .save {
  color: #286090;
}

.inbox section .section-right .none {
  color: #c9302c;
}

.inbox section .section-right .icon {
  line-height: 6.5;
}

.inbox section .section-right .icon span {
  vertical-align: middle;
  padding: 14px;
  font-size: 32px;
  border: 1px solid #31b0d5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #31b0d5;
}

.campaign-wizard .top {
  margin-bottom: 15px;
}

.campaign-wizard .top a {
  float: right;
  width: 48%;
  margin-left: 2%;
}

.fields-integration .raw-html label,
.fields-integration .raw-html textarea,
.fields-integration form section input.form-control,
.fields-integration form section select.form-control {
  width: 100%;
}

.campaign-wizard .top .top-left h4 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.campaign-wizard .progress-titles {
  margin-bottom: 10px;
}

.campaign-wizard .progress-titles .active-title {
  font-weight: 700;
  color: #3c763d;
}

.campaign-wizard .content h3 {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.campaign-wizard center {
  margin: 30px 0 20px;
}

.fields-integration form .choose-provider {
  margin-right: 30px;
}

.fields-integration form section {
  margin-bottom: 10px;
  overflow: hidden;
}

.fields-integration form section input[type=checkbox] {
  margin-top: 11px;
}

.fields-integration form .section-title .required-section,
.fields-integration form section .checkbox {
  text-align: center;
}

.fields-integration .raw-html {
  margin-bottom: 30px;
  margin-top: 12px;
}

.fields-integration .raw-html h4 {
  margin-top: 40px;
}

.fields-integration .raw-html strong {
  margin-top: 15px;
  display: inline-block;
}

.fields-integration .raw-html .accordion-label {
  width: initial;
  margin-left: 10px;
  float: left;
}

.fields-integration .raw-html .section-title {
  overflow: hidden;
}

.fields-integration .raw-html .section-title input[type=radio] {
  margin-top: 3px;
  float: left;
}

.fields-integration .raw-html .section-content {
  margin-bottom: 20px;
  margin-left: 22px;
  margin-top: 5px;
}

.fields-integration .integration {
  margin-top: 20px;
}

.fields-integration .integration h4 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.fields-integration .integration p {
  margin-top: 7px;
  margin-bottom: 7px;
}

.fields-integration .integration .toggle {
  float: right;
  margin-left: 5px;
}

.fields-integration .integration .on-off-text {
  float: right;
}

.fields-integration .integration .form-group {
  margin-bottom: 10px;
}

.fields-integration .integration input,
.fields-integration .integration select {
  width: 80%;
}

.fields-integration .toggle-off.on-off,
.fields-integration .toggle-on.on-off,
.fields-integration .toggle.on-off,
.fields-integration .toggle.on-off .toggle-handle {
  border-radius: 20px;
}

.settings-page .thumbnail {
  padding: 20px 30px;
}

.settings-page .thumbnail .youtube-label {
  margin-right: 10px;
}

#connect-modal .modal-header {
  padding: 20px 30px 15px;
}

#connect-modal .modal-body {
  padding: 15px 30px 30px;
}

@media screen and (max-width:320px) {
  .appearance_page .choose-design .appearance_small_images_cont>div,
  .live_preview,
  .widgets>.row>div {
    margin-bottom: 15px;
  }

  .fields-integration .integration input,
  .fields-integration .integration select,
  .section-left,
  .section-right {
    width: 100%;
  }

  #main_navbar .profile_pic {
    display: none;
  }

  #main_navbar .new_msgs {
    float: right;
    margin-right: 0;
  }

  .live_preview {
    min-height: 300px;
  }

  .appearance_page .appearance_small_images {
    height: 100px;
  }

  .section-right .info {
    padding-left: 0;
    padding-right: 0;
  }

  .section-right .icon {
    padding-right: 0;
    text-align: right;
  }

  .fields-integration .raw-html strong,
  .fields-integration form section input[type=checkbox] {
    margin-top: 0;
  }

  .fields-integration .integration .integration-top {
    overflow: hidden;
    margin-bottom: 20px;
  }

  .fields-integration .integration .on-off-text {
    float: left;
  }

  .fields-integration .integration .toggle {
    float: left;
    margin-left: 0;
    margin-right: 5px;
  }

  .settings-page .btn {
    font-size: 12px;
  }

  .campaign-wizard center {
    margin-top: 10px;
  }
}

@media screen and (max-width:420px) {
  .settings-page .autoresponder-thumbnail .col-md-2,
  .settings-page .autoresponder-thumbnail .col-md-4,
  .settings-page .autoresponder-thumbnail .col-md-6,
  .settings-page .youtube-label {
    width: 100%;
    margin-bottom: 10px;
  }

  #modal-designs #side-lock img {
    height: 150px;
  }

  .appearance_page .choose-design>.row>.col-xs-6 {
    width: 100%;
  }

  .appearance_page .choose-design>.row>.col-xs-6:first-child {
    margin-bottom: 15px;
  }
}

@media screen and (min-width:480px) and (max-width:767px) {
  .appearance_page .appearance_small_images {
    height: 200px;
  }
}

@media screen and (min-width:321px) and (max-width:767px) {
  .appearance_page .choose-design .appearance_small_images_cont>div,
  .live_preview,
  .widgets>.row>div {
    margin-bottom: 15px;
  }

  #main_navbar .profile_pic {
    display: none;
  }

  #main_navbar .new_msgs {
    float: right;
    margin-right: 0;
  }

  .live_preview {
    min-height: 350px;
  }

  .section-left,
  .section-right {
    width: 100%;
  }

  .section-right .info {
    padding-left: 0;
    padding-right: 0;
  }

  .section-right .icon {
    padding-right: 0;
    text-align: right;
  }

  .campaign-wizard .progress-titles {
    font-size: 11px;
  }

  .campaign-wizard center {
    margin-top: 10px;
  }

  .fields-integration .raw-html strong,
  .fields-integration form section input[type=checkbox] {
    margin-top: 0;
  }

  .fields-integration .integration .integration-top {
    overflow: hidden;
    margin-bottom: 20px;
  }

  .fields-integration .integration input,
  .fields-integration .integration select {
    width: 60%;
  }

  .fields-integration .integration .on-off-text {
    float: left;
  }

  .fields-integration .integration .toggle {
    float: left;
    margin-left: 0;
    margin-right: 5px;
  }
}

@media screen and (max-width:680px) {
  .campaign-wizard .progress-titles {
    font-size: 16px;
  }

  .campaign-wizard .progress-titles>div {
    width: 100%;
    text-align: left;
  }

  .campaign-wizard .top .next {
    width: 68%;
  }

  .campaign-wizard .top .back {
    width: 28%;
  }

  .fields-integration form .section-title .required-section {
    display: none;
  }

  .integration-modal .button {
    width: 100%;
    margin-left: 0!important;
    display: inherit;
    text-align: center;
    white-space: initial;
  }

  .integration-modal .button:first-child {
    margin-bottom: 7px;
  }
}

@media screen and (max-width:480px) {
  .live_preview .tab-preview,
  .live_preview .widget-preview {
    width: 100%;
  }

  .auth {
    margin: 50px 30px 0;
  }

  .auth .auth-container .forgot,
  .auth .auth-container .remember {
    width: 100%;
    text-align: left;
  }

  .auth .auth-container .remember input[type=checkbox] {
    margin: 3px 3px 0 0;
  }

  .auth .auth-container .reset-link {
    font-size: 14px;
  }

  .inbox .top>div,
  .inbox section .section-left .email,
  .inbox section .section-left .phone {
    width: 100%;
  }

  .inbox section .section-right .icon span {
    padding: 25%;
    font-size: 120%;
  }

  .campaign-wizard .top .top-left {
    width: 100%;
    text-align: center;
  }

  .campaign-wizard .top .top-right {
    width: 100%;
  }

  .campaign-wizard .top .top-right a {
    width: 100%;
    margin-left: 0;
    margin-bottom: 7px;
  }

  .campaign-wizard .content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .fields-integration .toggle {
    width: 40px!important;
    min-width: 40px!important;
  }

  .fields-integration .toggle label {
    font-size: 12px!important;
    padding: 8px!important;
  }

  .fields-integration .toggle .btn-warning {
    text-align: left;
  }

  .fields-integration .toggle .btn-danger {
    text-align: right;
  }

  .view-steps-1 .modal-dialog .step-view {
    width: 50%;
  }
}

@media screen and (max-width:380px) {
  .choose-widget-design .appearance_small_images_cont>div,
  .view-steps-1 .modal-dialog .step-view {
    width: 100%;
  }

  .choose-widget-design .appearance_small_images_cont>div .btn {
    margin-bottom: 20px;
  }
}

@media screen and (min-width:768px) and (max-width:799px) {
  .feedback_cont {
    margin-top: 10px;
    clear: both;
  }

  .voice_small_images_cont {
    float: right;
  }

  .actions_cont_main {
    text-align: right;
    margin-top: 10px;
  }

  .live_preview {
    min-height: 400px;
    margin-bottom: 15px;
  }

  .section-left,
  .section-right {
    width: 100%;
  }

  .section-right .info {
    padding-left: 0;
    padding-right: 0;
  }

  .section-right .icon {
    padding-right: 0;
    text-align: right;
  }

  .campaign-wizard .progress-titles {
    font-size: 11px;
  }
}

@media screen and (min-width:800px) and (max-width:991px) {
  .feedback_cont {
    margin-top: 10px;
    clear: both;
  }

  .voice_small_images_cont {
    float: right;
  }

  .actions_cont_main {
    text-align: right;
    margin-top: 10px;
  }

  .live_preview {
    min-height: 400px;
    margin-bottom: 15px;
  }

  .section-left,
  .section-right {
    width: 100%;
  }

  .section-right .info {
    padding-left: 0;
    padding-right: 0;
  }

  .section-right .icon {
    padding-right: 0;
    text-align: right;
  }

  .campaign-wizard .progress-titles {
    font-size: 11px;
  }
}

@media screen and (min-width:992px) and (max-width:1199px) {
  .appearance_page .appearance_small_images {
    height: 100px;
  }

  .view-steps-1 .modal-dialog {
    width: 950px;
  }
}

@media screen and (max-width:991px) {
  #modal-designs #footer-lock .col-sm-6:nth-child(odd) {
    clear: both;
  }
}

@media (min-width:992px) {
  #modal-designs .modal-dialog {
    width: 800px;
  }
}

@media (min-width:480px) {
  .auth {
    width: 382px;
    float: initial;
  }
}

@media (min-width:1200px) {
  .view-steps-1 .modal-dialog {
    width: 1100px;
  }
}

/*! ========================================================================
 * Bootstrap Toggle: bootstrap-toggle.css v2.2.0
 * http://www.bootstraptoggle.com
 * ========================================================================
 * Copyright 2014 Min Hur, The New York Times Company
 * Licensed under MIT
 * ======================================================================== */

.checkbox label .toggle,
.checkbox-inline .toggle {
  margin-left: -20px;
  margin-right: 5px;
}

.toggle {
  position: relative;
  overflow: hidden;
}

.toggle-group,
.toggle-off,
.toggle-on {
  position: absolute;
  top: 0;
  bottom: 0;
}

.toggle input[type=checkbox] {
  display: none;
}

.toggle-group {
  width: 200%;
  left: 0;
  transition: left .35s;
  -webkit-transition: left .35s;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.toggle.off .toggle-group {
  left: -100%;
}

.toggle-on {
  left: 0;
  right: 50%;
  margin: 0;
  border: 0;
  border-radius: 0;
}

.toggle-off {
  left: 50%;
  right: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
}

.toggle-handle {
  position: relative;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
  width: 0;
  border-width: 0 1px;
}

.toggle.btn {
  min-width: 59px;
  min-height: 34px;
}

.toggle-on.btn {
  padding-right: 24px;
}

.toggle-off.btn {
  padding-left: 24px;
}

.toggle.btn-lg {
  min-width: 79px;
  min-height: 45px;
}

.toggle-on.btn-lg {
  padding-right: 31px;
}

.toggle-off.btn-lg {
  padding-left: 31px;
}

.toggle-handle.btn-lg {
  width: 40px;
}

.toggle.btn-sm {
  min-width: 50px;
  min-height: 30px;
}

.toggle-on.btn-sm {
  padding-right: 20px;
}

.toggle-off.btn-sm {
  padding-left: 20px;
}

.toggle.btn-xs {
  min-width: 35px;
  min-height: 22px;
}

.toggle-on.btn-xs {
  padding-right: 12px;
}

.toggle-off.btn-xs {
  padding-left: 12px;
}
@media (min-width:1600px) {
  .vt-campaign-list {
    width: 1330px;
  }
}

@media (min-width:1000px) and (max-width:1600px) {
  .vt-campaign-list {
    max-width: 1000px;
  }
}

@media (min-width:700px) and (max-width:999px) {
  .vt-campaign-list {
    max-width: 667px;
  }
}

@media (min-width:300px) and (max-width:699px) {
  .container-fluid .vt-campaign-box,
  .vt-campaign-tab {
    margin: 1em auto!important;
  }

  .container-fluid .vt-campaign-list-controller,
  .container-fluid .vt-campaign-list.fluid .vt-campaign-list-controller {
    padding: 0 1.5em!important;
  }

  .vt-campaign-list {
    max-width: 330px;
  }

  .vt-campaign-list.fluid {
    max-width: 425px!important;
  }

  .vt-campaign-tab {
    width: 300px!important;
    height: auto!important;
    float: none!important;
    border-radius: 0 0 .5em!important;
    overflow: hidden!important;
  }

  .vt-campaign-tab .vt-campaign-box-image {
    height: 297px!important;
    width: 100%!important;
    position: relative!important;
  }

  .vt-campaign-tab .vt-campaign-box-image .vt-image-main {
    padding: 0!important;
  }

  .vt-campaign-tab .vt-image-logos {
    width: 100%!important;
    float: left!important;
    display: inline-block!important;
    position: relative!important;
    bottom: 0!important;
    text-align: center!important;
    border-top: 1px solid #e1e1e1!important;
    opacity: 1!important;
  }

  .vt-campaign-tab .vt-image-logos li {
    display: inline-block!important;
    float: none!important;
    height: 45px!important;
  }

  .vt-campaign-tab .vt-content {
    padding: 0!important;
    float: left;
  }

  .vt-campaign-tab .vt-content .vt-campaign-title {
    text-align: center;
  }

  .vt-campaign-tab .vt-campaign-stats-container {
    background: #FFF;
    position: relative;
    display: inline-block;
    width: 85%!important;
    float: left;
  }

  .vt-campaign-tab .vt-campaign-stats-container>span {
    color: #AAA;
    display: inline-block!important;
    width: 119px;
    padding: .3em!important;
    margin-bottom: 0;
    border-bottom: 1px solid #e1e1e1;
    font-size: 12px;
    left: -47px;
    text-align: center!important;
    top: 47px;
    position: absolute;
    text-transform: lowercase;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

  .vt-campaign-tab .vt-campaign-stats-container .vt-campaign-stats {
    overflow: hidden!important;
    border-right: 1px solid #e1e1e1!important;
    padding: 0 0 0 1.5em!important;
  }

  .vt-campaign-tab .vt-campaign-stats-container .vt-campaign-stats .row {
    margin: 0!important;
  }

  .vt-campaign-tab .vt-campaign-stats-container .vt-campaign-stats .row .col-md-4 {
    border-right: 0 none!important;
  }

  .vt-campaign-tab .vt-campaign-stats-container .vt-campaign-stats .stats {
    padding: .5em .6em .2em!important;
    border-bottom: 1px solid #e1e1e1!important;
    text-align: center!important;
    width: 100%!important;
    float: left!important;
    line-height: 23px!important;
    height: auto!important;
  }

  .vt-campaign-tab .vt-campaign-stats-container .vt-campaign-stats .stats:last-child {
    border-bottom: 0 none!important;
  }

  .vt-campaign-tab .vt-campaign-stats-container .vt-campaign-stats span {
    color: #999;
    font-weight: 600;
    float: right!important;
    text-align: left;
    font-size: 1em;
    font-family: Montserrat;
  }

  .vt-campaign-tab .vt-campaign-stats-container .vt-campaign-stats label {
    font-weight: 300;
    text-align: right;
    color: #999;
    float: left!important;
    font-size: 1em;
  }

  .vt-campaign-tab .vt-campaign-box-controller {
    position: relative;
    padding: .4em .2em!important;
    text-align: center!important;
    display: inline-block!important;
    width: 15%!important;
    float: left!important;
    margin: 0;
    background: #FFF;
  }

  .vt-campaign-tab .vt-campaign-box-controller a {
    font-size: 11px;
    color: #FFF;
    border: none;
    margin-left: 0!important;
    padding: .76em 1em .6em!important;
    margin-bottom: .7em!important;
    position: relative;
    text-align: center;
  }

  .vt-campaign-tab .vt-campaign-box-controller a span {
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  .vt-campaign-tab .vt-campaign-box-controller a.btn.btn-danger {
    margin-bottom: 0!important;
  }

  .vt-campaign-tab .vt-campaign-box-controller a.btn.btn-danger span:before {
    position: relative;
    left: -1px;
  }
}

@media (max-width:599px) {
  .vt-campaign-list {
    text-align: center;
    width: 100%!important;
    max-width: 100%!important;
  }

  .vt-campaign-box {
    float: none!important;
    width: 100%;
  }
}

@media (min-width:768px) {
  nav {
    background: #34495e;
    border-radius: 0;
    position: relative;
    padding: 0;
    border-bottom: 1px solid #222;
  }

  nav .navbar-header {
    position: absolute;
    left: 0;
    top: 0;
  }

  nav .navbar-header .navbar-brand {
    color: #FFF;
    width: 150px;
    padding: .44em .5em;
    text-align: center;
  }

  nav .navbar-collapse {
    width: 100%;
    padding-left: 160px;
  }

  nav .navbar-nav>li {
    position: relative;
    height: 50px;
    line-height: 50px;
  }

  nav .navbar-nav>li.active {
    margin-left: 15px;
  }

  nav .navbar-nav>li>a {
    font-size: .85em;
    padding: .3em .8em;
    margin: 0 .2em;
    color: #FFF;
    display: inline-block;
    font-family: Montserrat;
  }

  nav .navbar-nav>li>a i {
    position: relative;
    top: 2px;
  }

  nav .navbar-nav>li.active a {
    background: #5cb85c!important;
    color: #FFF!important;
    border-radius: 4px;
  }

  nav .navbar-nav>li.active a:hover {
    color: #f1f1f1!important;
  }
}

@media (max-width:768px) {
  .help-page-container #videoMenu {
    display: none;
  }

  .help-page-container .video-cont {
    padding-left: 1.8em!important;
  }

  .navbar-collapse {
    padding: 0!important;
  }

  .navbar-header {
    width: 100%;
  }

  .navbar-nav {
    width: 100%;
    float: none!important;
    margin: 0!important;
  }

  .navbar-nav>li {
    border-bottom: 1px solid #333;
  }

  .navbar-nav a.dropdown-toggle {
    padding-bottom: 14px!important;
    padding-left: 44px!important;
  }

  .navbar-nav a.dropdown-toggle .avatar {
    top: 7px!important;
    left: 8px!important;
  }

  .navbar-brand {
    padding: .55em;
  }

  .navbar-brand .img-responsive {
    width: 120px;
  }

  .navbar-brand img,
  .vt-page-header .vt-page-title {
    width: 100%;
  }

  .vt-page-header .vt-page-controller {
    border-top: 1px solid #888;
    padding-top: 1em;
    margin-top: .5em;
  }

  .vt-campaign-list,
  .vt-default-page,
  .vt-inbox-list,
  .vt-sms-list,
  .vt-user-list {
    padding: 0 .5em!important;
    margin-top: 0!important;
  }

  .vt-settings-container {
    margin: .5em 0;
  }
}

@media (max-width:400px) {
  .vt-chart-filter-options {
    padding-bottom: 0!important;
  }

  .vt-chart-filter-options .vt-chart-filter,
  .vt-chart-filter-options .vt-filter-button {
    margin: 0 0 .4em;
    width: 100%!important;
  }

  .vt-chart-filter-options .vt-chart-filter .bootstrap-select,
  .vt-chart-filter-options .vt-filter-button .bootstrap-select {
    width: 100%!important;
  }

  .vt-page-header .vt-page-controller {
    width: 100%;
  }

  .vt-page-header .vt-page-controller a.ml10 {
    margin-left: 0!important;
  }

  .vt-page-header .vt-page-controller .bootstrap-select,
  .vt-page-header .vt-page-controller form {
    width: 100%!important;
    margin-bottom: .2em;
  }

  .vt-page-header .vt-page-controller .btn {
    float: left!important;
  }

  .vt-inbox-list .vt-inbox-tab .vt-inbox-box-controller a,
  .vt-sms-list .vt-sms-tab .vt-sms-box-controller a,
  .vt-user-list .vt-user-tab .vt-user-box-controller a {
    float: right;
    margin-left: .5em;
  }

  .vt-inbox-list .vt-inbox-tab {
    height: auto;
  }

  .vt-inbox-list .vt-inbox-tab .vt-content {
    padding-left: 0;
    z-index: 9;
    position: relative;
  }

  .vt-inbox-list .vt-inbox-tab .vt-inbox-box-image {
    z-index: 10;
    width: 84px;
    height: 85px;
  }

  .vt-inbox-list .vt-inbox-tab .vt-inbox-title {
    width: 100%!important;
    height: auto!important;
    padding-left: 95px!important;
  }

  .vt-inbox-list .vt-inbox-tab .vt-inbox-title .vt-user-details {
    width: 100%!important;
  }

  .vt-inbox-list .vt-inbox-tab .vt-inbox-title .vt-user-details label {
    width: 100%!important;
    border: 0!important;
    margin-bottom: 0;
  }

  .vt-inbox-list .vt-inbox-tab .vt-inbox-stats-container {
    height: auto!important;
  }

  .vt-inbox-list .vt-inbox-tab .vt-inbox-stats-container .vt-inbox-stats {
    width: 100%!important;
  }

  .vt-inbox-list .vt-inbox-tab .vt-inbox-stats-container .vt-inbox-stats .stats {
    width: 100%!important;
    height: auto!important;
    line-height: 0!important;
    border-bottom: 1px solid #ddd;
    padding: .3em .5em .5em;
  }

  .vt-inbox-list .vt-inbox-tab .vt-inbox-stats-container .vt-inbox-stats .stats label {
    height: 15px;
    line-height: 15px;
    margin-bottom: 0;
  }

  .vt-inbox-list .vt-inbox-tab .vt-inbox-box-controller {
    width: 100%;
  }

  .vt-sms-list .vt-sms-tab {
    height: auto;
  }

  .vt-sms-list .vt-sms-tab .vt-content {
    padding-left: 0;
    z-index: 9;
    position: relative;
  }

  .vt-sms-list .vt-sms-tab .vt-sms-box-image {
    z-index: 10;
    width: 84px;
    height: 85px;
  }

  .vt-sms-list .vt-sms-tab .vt-sms-title {
    width: 100%!important;
    height: auto!important;
  }

  .vt-sms-list .vt-sms-tab .vt-sms-title .vt-user-details {
    width: 100%!important;
    text-align: center;
  }

  .vt-sms-list .vt-sms-tab .vt-sms-title .vt-user-details label {
    width: auto!important;
    margin-bottom: 0;
  }

  .vt-sms-list .vt-sms-tab .vt-sms-title .vt-user-details label:last-child {
    border-right: 0!important;
  }

  .vt-sms-list .vt-sms-tab .vt-sms-stats-container {
    height: auto!important;
  }

  .vt-sms-list .vt-sms-tab .vt-sms-stats-container .vt-sms-stats {
    width: 100%!important;
  }

  .vt-sms-list .vt-sms-tab .vt-sms-stats-container .vt-sms-stats .stats {
    width: 100%!important;
    height: auto!important;
    line-height: 0!important;
    border-bottom: 1px solid #ddd;
    padding: .3em .5em .5em;
  }

  .vt-sms-list .vt-sms-tab .vt-sms-stats-container .vt-sms-stats .stats label {
    height: 15px;
    line-height: 15px;
    margin-bottom: 0;
  }

  .vt-sms-list .vt-sms-tab .vt-sms-box-controller {
    width: 100%;
  }

  .vt-user-list .vt-user-tab {
    height: auto;
    padding-left: 0!important;
  }

  .vt-user-list .vt-user-tab .vt-content {
    z-index: 9;
    position: relative;
  }

  .vt-user-list .vt-user-tab .vt-user-stats-container,
  .vt-user-list .vt-user-tab .vt-user-title {
    position: relative!important;
    z-index: 9!important;
    height: auto!important;
  }

  .vt-user-list .vt-user-tab .vt-user-gavatar {
    z-index: 10;
    width: 35px!important;
    height: 35px!important;
  }

  .vt-user-list .vt-user-tab .vt-user-title {
    width: 100%!important;
    padding-left: 40px!important;
  }

  .vt-user-list .vt-user-tab .vt-user-title .vt-user-details {
    width: 100%!important;
  }

  .vt-user-list .vt-user-tab .vt-user-title .vt-user-details label {
    width: 100%!important;
    border: 0!important;
    margin-bottom: 0;
  }

  .vt-user-list .vt-user-tab .vt-user-stats-container .vt-user-stats {
    width: 100%!important;
  }

  .vt-user-list .vt-user-tab .vt-user-stats-container .vt-user-stats .stats {
    width: 100%!important;
    height: auto!important;
    line-height: 0!important;
    border: 0!important;
    padding: .5em .5em .4em;
  }

  .vt-user-list .vt-user-tab .vt-user-stats-container .vt-user-stats .stats label {
    height: 15px;
    line-height: 15px;
    margin-bottom: 0;
  }

  .vt-user-list .vt-user-tab .vt-user-box-controller {
    width: 100%;
    border-top: 1px solid #eee;
    position: relative;
    z-index: 12;
  }

  .campaign-wizard {
    margin-top: 6em;
  }

  .campaign-wizard .step-progress-container {
    padding: 1em 1em 0!important;
    text-align: center!important;
    overflow: hidden;
  }

  .campaign-wizard .step-progress-container .step-navs {
    top: -80px!important;
    padding: 0 1em;
  }

  .campaign-wizard .step-progress-container .step-navs .back-button,
  .campaign-wizard .step-progress-container .step-navs .next-button {
    width: 70px!important;
  }

  .campaign-wizard .step-progress-container .step-navs .back-button a,
  .campaign-wizard .step-progress-container .step-navs .next-button a {
    height: auto!important;
    font-size: 12px;
    padding: .6em!important;
    border-radius: 5px!important;
  }

  .campaign-wizard .vt-option-setting-container {
    width: 100%;
  }

  .campaign-wizard .vt-option-setting-container .toggle.btn {
    width: 100%!important;
  }

  .campaign-wizard .vt-option-setting-container .buttons,
  .campaign-wizard .vt-option-setting-container .title {
    width: 100%;
    margin: 0;
  }

  .campaign-wizard .vt-option-setting-container .buttons {
    border-top: 1px solid #eee;
    padding: .4em 0 0;
    margin-top: .4em;
  }

  .campaign-wizard .vt-option-setting-container .buttons input {
    width: 100%;
  }

  .campaign-wizard .vt-option-setting-container .buttons a.btn,
  .campaign-wizard .vt-option-setting-container .buttons button.btn {
    width: 100%!important;
  }

  .campaign-wizard .fields-integration .form-builder-option .toggle {
    width: 100%!important;
    left: 10px;
    max-width: 50px!important;
    min-width: 50px!important;
    height: 32px!important;
  }

  .campaign-wizard .fields-integration .form-builder-option .toggle label.toggle-on {
    padding: 5px 5px 5px 0!important;
  }

  .campaign-wizard .fields-integration .form-builder-option .toggle label.toggle-off {
    padding: 5px 0 5px 5px!important;
  }

  .campaign-wizard .fields-integration .form-builder-option .checkbox .toggle {
    left: -5px!important;
  }

  .vt-option-container {
    width: 100%;
    padding: 0 .4em!important;
  }

  .vt-option-container .buttons {
    width: 100%;
    border-top: 1px solid #eee;
    padding: .4em 0 0;
  }

  .vt-option-container .buttons .btn,
  .vt-option-container .buttons input {
    width: 100%!important;
    margin-bottom: .4em;
    border-radius: 5px!important;
  }

  .vt-option-container .buttons .input-group-btn {
    width: 100%;
    display: inline-block;
  }

  .vt-option-container .buttons .input-group-btn .btn {
    width: 100%!important;
    border-radius: 5px!important;
  }

  .modal .modal-dialog {
    padding: 0 1em!important;
  }

  .modal .modal-dialog .modal-body,
  .modal .modal-dialog .modal-content {
    border-radius: .4em!important;
  }

  .modal .modal-dialog .setting-tab-cont.option-row-content {
    width: 100%!important;
  }

  .modal .modal-dialog .setting-tab-cont.option-row-content .buttons,
  .modal .modal-dialog .setting-tab-cont.option-row-content .title {
    width: 100%;
    margin: 0;
  }

  .modal .modal-dialog .setting-tab-cont.option-row-content .buttons {
    border-top: 1px solid #eee;
    padding: .4em 0 0;
    margin-top: .4em;
  }

  .modal .modal-dialog .setting-tab-cont.option-row-content .buttons .btn {
    width: 100%!important;
  }

  .fields-integration form .section-title .required-section {
    display: block!important;
  }
}
.c3 svg {
  font: 10px sans-serif;
}

.c3 line,
.c3 path {
  fill: none;
  stroke: #000;
}

.c3 text {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.c3-bars path,
.c3-event-rect,
.c3-legend-item-tile,
.c3-xgrid-focus,
.c3-ygrid {
  shape-rendering: crispEdges;
}

.c3-chart-arc path {
  stroke: #fff;
}

.c3-chart-arc text {
  fill: #fff;
  font-size: 13px;
}

.c3-grid line {
  stroke: #aaa;
}

.c3-grid text {
  fill: #aaa;
}

.c3-xgrid,
.c3-ygrid {
  stroke-dasharray: 3 3;
}

.c3-text.c3-empty {
  fill: gray;
  font-size: 2em;
}

.c3-line {
  stroke-width: 1px;
}

.c3-circle._expanded_ {
  stroke-width: 1px;
  stroke: #fff;
}

.c3-selected-circle {
  fill: #fff;
  stroke-width: 2px;
}

.c3-bar {
  stroke-width: 0;
}

.c3-bar._expanded_ {
  fill-opacity: .75;
}

.c3-target.c3-focused {
  opacity: 1;
}

.c3-target.c3-focused path.c3-line,
.c3-target.c3-focused path.c3-step {
  stroke-width: 2px;
}

.c3-target.c3-defocused {
  opacity: .3!important;
}

.c3-region {
  fill: #4682b4;
  fill-opacity: .1;
}

.c3-brush .extent {
  fill-opacity: .1;
}

.c3-legend-item {
  font-size: 12px;
}

.c3-legend-item-hidden {
  opacity: .15;
}

.c3-legend-background {
  opacity: .75;
  fill: #fff;
  stroke: #d3d3d3;
  stroke-width: 1;
}

.c3-tooltip-container {
  z-index: 10;
}

.c3-tooltip {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  empty-cells: show;
  -webkit-box-shadow: 7px 7px 12px -9px #777;
  -moz-box-shadow: 7px 7px 12px -9px #777;
  box-shadow: 7px 7px 12px -9px #777;
  opacity: .9;
}

.c3-tooltip tr {
  border: 1px solid #CCC;
}

.c3-tooltip th {
  background-color: #aaa;
  font-size: 14px;
  padding: 2px 5px;
  text-align: left;
  color: #FFF;
}

.c3-tooltip td {
  font-size: 13px;
  padding: 3px 6px;
  background-color: #fff;
  border-left: 1px dotted #999;
}

.c3-tooltip td>span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
}

.c3-tooltip td.value {
  text-align: right;
}

.c3-area {
  stroke-width: 0;
  opacity: .2;
}

.c3-chart-arcs-title {
  dominant-baseline: middle;
  font-size: 1.3em;
}

.c3-chart-arcs .c3-chart-arcs-background {
  fill: #e0e0e0;
  stroke: none;
}

.c3-chart-arcs .c3-chart-arcs-gauge-unit {
  fill: #000;
  font-size: 16px;
}

.c3-chart-arcs .c3-chart-arcs-gauge-max,
.c3-chart-arcs .c3-chart-arcs-gauge-min {
  fill: #777;
}

.c3-chart-arc .c3-gauge-value {
  fill: #000;
}